.studentHomeBody {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

div.tab-content {
    border: 2px solid rgb(52, 80, 105);
    border-top: none;
}

@media (max-width: 1024px){
    #tab-tab-tab1{
        margin-left: 10px;
    }
}

#tab-tab-tab10, #tab-tab-tab9, #tab-tab-tab8, #tab-tab-tab7, #tab-tab-tab6, #tab-tab-tab5, #tab-tab-tab4, #tab-tab-tab3, #tab-tab-tab2 {
    background-color: rgb(52, 80, 105);
    color: white;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    #tab-tab-tab10, #tab-tab-tab9, #tab-tab-tab8, #tab-tab-tab7, #tab-tab-tab6, #tab-tab-tab5, #tab-tab-tab4, #tab-tab-tab3, #tab-tab-tab2, #tab-tab-tab1 {
        background-color: rgb(52, 80, 105);
        color: white;
        margin: 5px 5px 20px 10px;
    }
}

#tab-tab-tab1 {
    background-color: rgb(52, 80, 105);
    color: white;
}

@media (max-width: 1024px) {
    #tab-tab-tab1 {
        background-color: rgb(52, 80, 105);
        color: white;
        margin: 5px 5px 20px 10px;
    }
}

#tab-tab-tab1:focus, #tab-tab-tab2:focus, #tab-tab-tab3:focus, #tab-tab-tab4:focus, #tab-tab-tab5:focus, #tab-tab-tab6:focus, #tab-tab-tab7:focus, #tab-tab-tab8:focus, #tab-tab-tab8:focus, #tab-tab-tab9:focus, #tab-tab-tab10:focus, #tab-tab-tab1.nav-link.active {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

@media (max-width: 1024px) {
    #tab-tab-tab1:focus, #tab-tab-tab2:focus, #tab-tab-tab3:focus, #tab-tab-tab4:focus, #tab-tab-tab5:focus, #tab-tab-tab6:focus, #tab-tab-tab7:focus, #tab-tab-tab8:focus, #tab-tab-tab8:focus, #tab-tab-tab9:focus, #tab-tab-tab10:focus, #tab-tab-tab1.nav-link.active, #tab-tab-tab2.nav-link.active, #tab-tab-tab3.nav-link.active, #tab-tab-tab4.nav-link.active, #tab-tab-tab5.nav-link.active, #tab-tab-tab6.nav-link.active, #tab-tab-tab7.nav-link.active, #tab-tab-tab8.nav-link.active, #tab-tab-tab9.nav-link.active, #tab-tab-tab10.nav-link.active {
        background-color: white;
        color: rgb(52, 80, 105);
        border: 2px solid rgb(52, 80, 105);
    }
}

.nav li.active a,
.nav li a:hover,
.nav li.active a:focus,
.nav li.active a:hover {
    background-color: red;
    border-radius: 4px;
    border-bottom: none;
}

#tab-tab-tab1[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab2[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab3[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab4[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab5[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab6[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab7[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab8[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab9[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

#tab-tab-tab10[aria-selected="true"] {
    background-color: white;
    color: rgb(52, 80, 105);
    border: 2px solid rgb(52, 80, 105);
    border-bottom: none;
}

@media (max-width: 858px) {
    .studentHomeBody {
        padding: 10px;
    }

}