.uploadCol {
    text-align: center;
    justify-content: center;
}

.custHeadingUploadCol {
    margin-bottom: 30px;
}

.form-format{
    display:flex;
}

.button-setting{
    margin-top: 5px;
    margin-left: 10px;
}

.col-sm-6{
    width: auto;
    margin-top: 5px;
}

.col-sm-4{
    width: auto;
}

@media (min-width: 1000px) {
    .row-setting{
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-top: -20px;
    }

}




