.vertical-center {
    align-items: center;
}
#button:hover{
    color: white;
    text-decoration: underline 10%;
    text-underline-offset: 50%;
}

.button-control{
    margin-right: 30px;
    margin-left: 40px;
}