.accordion {
    width: 1720px;
    margin:4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.accordion-title-container {
    width: 80%;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    padding-left: 20px;
}

.title-element-container {
    text-align: center;
    min-width: 237px;
    height: 100%;
    font-size:20px;
}

.accordion-item-container {
    display: flex;
    width: 85%;
    height: 50px;
    margin-right: 10px;
    text-align: center;
}

.accordion-header {
    width: 100%;
}

.accordion-button.collapsed {
    width: 100%;
}

div.accordion-body {
    padding-left: 100px;
}

.accordion-button {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.accordion-container {
    display: flex;
    width: 100%;
    margin: auto;
  width: 100%;
}

.accordion-item {
    width: 100%;
    float:left; display:inline; width: 85%;
}

.accordionTitleComponent {
    text-align: center;
    width: 30%;
    height: 100%;
    font-size:16px;
}

.button-container {
    display: flex;
     width: 15%;
     padding: 5px;
     padding-left: 30px;
     padding-right: 30px;
}

.button {
    border-radius: 6px;
    border: 3px solid rgb(144, 215, 201);
    background-color: white;
    font-size:16px;
    height: 40px;
}

.center {
  width: 100%;
  margin: 0 auto;
}

/*
    hides the accordion item arrow
*/
.accordion-button.collapsed::after {
    display: none;
}

.accordion-button::after {
    display: none;
}