.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-view-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* marginTop: "250px",
        position: "relative",
        left: "50%",
        top: "10%",
        transform: "translate(-50%, -50%)", */