.accordion-button::after {
    display: none;
}

.accordion-row {
    margin: 15px;
}

.title-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-align: left;
    text-transform: uppercase;
}

.accordion-header{
    width: 85%;
}

.accordion-header:hover{
    background-color: gray;
}

 .accordion-item {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-tooltip {
    font-size: 1.1em;
    margin: 4px;
    color: #326496;
}

.badge{
    font-size: 15px;
}

.text-info-practice{
    text-align: left;
    width: 150px;
}

.school{
    text-align: left;
    width: 150px;
}
